body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #272626;
}

header {
    background-color: #8b8b88;
    color: rgb(40, 39, 39);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#logo img {
    max-width: 100%;
    height: auto;
}

nav {
    float: right;
    padding: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #272626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    width: calc(25% - 20px); 
    margin-bottom: 20px;
    position: relative;
}

.image img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-weight: bold;
}

.link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    padding: 5px;
    font-weight: bold;
    margin-top: 10px; 
}

.link a {
    color: #fff;
    text-decoration: none;
}
